name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
      - '.github/workflows/cd.yml'  

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'push' || github.event.workflow_run.conclusion == 'success' }}
    defaults:
      run:
        working-directory: ./terraform

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        run: |
          if [ "${{ github.event_name }}" == "workflow_run" ]; then
            IMAGE_TAG="${{ github.event.workflow_run.head_sha }}"
          else
            IMAGE_TAG="latest"
          fi
          
          terraform apply -auto-approve \
            -var="image_tag=$IMAGE_TAG"

      - name: Update Readme with Load Balancer URL
        run: |
          NLB_DNS=$(terraform output -raw nlb_dns)
          # Go to root to edit Readme
          cd ..
          # Replace the URL line. We use | as delimiter to avoid conflict with / in URL
          # Escape asterisks in the search pattern because they are regex special characters
          sed -i "s|\*\*URL:\*\* .*|**URL:** [http://$NLB_DNS](http://$NLB_DNS)|g" Readme.md
          
          # Check if Readme was modified
          if [[ -n $(git status -s Readme.md) ]]; then
            echo "Readme changed, committing update..."
            git config --global user.name 'GitHub Actions'
            git config --global user.email 'actions@github.com'
            git add Readme.md
            git commit -m "docs: update load balancer url [skip ci]"
            git push
          else
            echo "No changes to Readme."
          fi
